<section class="menu">
    {{#project}}
    <a href="/projects/{{.}}/public/description"><p class="tags"> {{.}} </p></a>
    {{/project}}
</section>

<section class="about">
    <h2>{{ name }}</h2>
        <h4>{{ desc }}</h4>
        <h4>{{ desctwo }}</h4>
            <h4>{{ techs }}</h4>
            <br>
    <a href="{{url}}" target="_blank"><img src="{{imgSrc}}"></img></a>
</section>
