<section class="description">
    <h2>{{ name }}</h2>
        <h4>{{ desc }}</h4>
        <h4>{{ desctwo }}</h4>
            <h4>{{ techs }}</h4>
            <br>
    <a href="{{ weburl }}" target="_blank"><img src="{{ imgSrc }}"></img></a>
    <h3><a href="{{ code }}" target="_blank">Github <img src="/img/newwindow.svg" width="15px"></img></a></h3>
</section>
