<section class="description">
    <h2>"{{name}}"</h2>
        <h3>{{ desc }}</h3>
            <h3>{{ techs }}</h3>
    <img src="{{imgSrc}}"></img>
    <h3><a href="{{url}}" target="blank">Open in new window</a></h3>
</section>
