<section class="description">
    <h2>"{{name}}"</h2>
        <h4>{{ desc }}</h4>
            <h4>{{ techs }}</h4>
            <br>
    <img src="{{imgSrc}}"></img>
    <h3><a href="{{code}}" target="_blank">See code <img src="/img/newwindow.svg" width="15px"></img></a></h3>
    <h3><a href="{{url}}" target="_blank">Open in new window <img src="/img/newwindow.svg" width="15px"></img></a></h3>
</section>
